# Créez le dossier de configuration
mkdir -p ~/docker/mysql-conf

# Fichier ~/docker/mysql-conf/custom.cnf
[mysqld]
default_authentication_plugin=mysql_native_password
allow-public-key-retrieval=TRUE
pid-file=/var/run/mysqld/mysqld.pid

[client]
socket=/var/run/mysqld/mysqld.sock

[mysql]
default_authentication_plugin=mysql_native_password

!includedir /etc/mysql/conf.d/
