.md-container {
    max-width: none !important;
    margin: 0 !important;
}

.md-main__inner {
    max-width: none !important;
    margin: 0 1rem !important;
    padding: 0 !important;
}

.md-content {
    max-width: none !important;
    margin-left: 1rem;
    margin-right: 1rem;
}

.md-sidebar--primary {
    left: 0 !important;
}

.md-sidebar--secondary {
    right: 0 !important;
}